html,
body {
  height: 100%;
  text-align: center;
}

.title-text {
  font-weight: 700;
}

.title-text-secondary {
  font-weight: 400;
}

.wrapper {
  padding-top: 0em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  min-height: 87%;
}

.content {
  align-items: center;
}

.time-stamp {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: -0.1em;
}

.date-stamp {
  font-size: 1em;
  font-weight: 400;
}

.export_button {
  width: 100%;
}

.qrcode {
  width: 100%;
}

.hamburger-icon {
  cursor: pointer;
}

.camera_options {
  width: 50%;
}

.qr-reader {
  width: 100%;
}

.nav-logo {
    width: 1.5em;
  }

.login-form {
  width: 80%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.sign-out-button {
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  .login-form {
    width: 20%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-logo {
    width: 1.7em;
  }
  .title-text {
    font-weight: 700;
    font-size: 1.5em;
  }

  .title-text-secondary {
    font-weight: 400;
  }

  .wrapper {
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    width: 100%;
    min-height: 87%;
  }

  .time-stamp {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: -0.1em;
  }

  .date-stamp {
    font-size: 1.5em;
    font-weight: 400;
  }

  .export_button {
    width: 100%;
  }

  .qrcode {
    width: 100%;
  }

  .hamburger-icon {
    cursor: pointer;
  }

  .camera_options {
    width: 50%;
  }

  .qr-reader {
    max-width: 50%;
  }
}

@media only screen and (min-width: 990px) {
  .clearbutton {
    padding-left: 10px !important;
  }
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.95); /* Black background with opacity */
  z-index: 2;
}

.paragraph-overlay {
  z-index: 3;
  margin-top: 130px;
  margin-left: auto;
}