{% extends 'scanner/base.html' %}

{% block title %}
    QR Generator
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <form >
                <div class="form-group mb-4">
                    <label class="mb-1">Create a QR for a</label>

                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" onchange="refreshCode()">
                        {% for type in Types %}
                            <label class="btn btn-outline-secondary w-100 {% if forloop.first %} active {% endif %}}">
                                <input type="radio" name="types" id="{{ type.name }}" value="{{ type.id }}" autocomplete="off" {% if forloop.first %} checked {% endif %}> {{ type.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-4 ">
                    <div class="col-lg px-2 was-validated" >
                        <label for="exampleFormControlInput1">Last Name</label>
                        <input class="form-control" id="lastNameField" placeholder="Last Name" onInput="refreshCode()" required>
                    </div>
                    <div class="col-lg px-2 was-validated">
                        <label for="exampleFormControlInput1">First Name</label>
                        <input  class="form-control" id="firstNameField" placeholder="First Name" onInput="refreshCode()" required>
                    </div>
                    <div class="col-lg px-2">
                        <label for="exampleFormControlInput1">Middle Initial</label>
                        <input class="form-control" id="middleInitialField" placeholder="Middle Initial" onInput="refreshCode()" maxlength="1" onkeyup="this.value = this.value.toUpperCase();">
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="w-100 px-1">
                        <label class="text-center">Section</label>
                        <select class="selectpicker w-100" data-live-search="true" id="sections_list" onchange="refreshCode()" data-style="btn-outline-secondary">
                            <option value="">None</option>
                            {% for section in Sections %}
                                <option value="{{ section.id }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-4 mb-5">
            <div id="overlay">
                <p class="paragraph-overlay"> Last name and first name are required.</p>
            </div>

            <canvas id="qrcode"></canvas>


        </div>

        <div class="col-lg-2">
        </div>
    </div>

    <script type="text/javascript">
        function refreshCode(event)
        {
            var qr_type = 0;

            var radios = document.getElementsByName('types');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    qr_type = radios[i].value
                    break;
                }
            }

            let qrTypeField = qr_type + "<data>"
            let lastNameField = document.getElementById("lastNameField").value + "<data>"
            let firstNameField = document.getElementById("firstNameField").value + "<data>"
            let middleInitialField = document.getElementById("middleInitialField").value + "<data>"
            let section = document.getElementById("sections_list").value + "<data>"

            var code = qrTypeField + lastNameField + firstNameField + middleInitialField + section
            var qrcode = new QRious({element: document.getElementById("qrcode"), value: code, size: 300});

            if (document.getElementById("firstNameField").value && document.getElementById("lastNameField").value) {
                document.getElementById("overlay").hidden = true;
            } else {
                document.getElementById("overlay").hidden = false;
            }
        }

        refreshCode();

        // To style only selects with the my-select class
        $('.selectpicker').selectpicker();
    </script>

{% endblock %}

