{% extends 'scanner/base.html' %}

{% block content %}

    <p class="time-stamp" id="time">12:00:00 AM</p>
    <p class="date-stamp" id="date">January 1, 1990</p>

    <select class="custom-select camera_options mx-auto mb-3 mt-4" aria-label=".form-select-sm example" id="camera_options" onchange="changeCamera()">
    </select>

    <div class="qr-reader mx-auto">
        <div id="reader" width="60px"></div>
    </div>

    <p class="mb-5">Please align your code inside the box to scan.</p>

    <div class="modal" id="recording_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recording_modal_title">Recording Attendance...</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="failed_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="failed_modal_title">Recording Attendance Failed</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="result_modal_title">Attendance recorded for </h5>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        function refreshTime() {
            const timeString = new Date().toLocaleTimeString();
            const dateString = new Date().toLocaleDateString(undefined, options);
            document.getElementById("time").textContent = timeString;
            document.getElementById("date").textContent = dateString;
        }
        setInterval(refreshTime, 1000);

        var lastRecord = undefined;

        Html5Qrcode.getCameras().then(devices => {
            if (devices && devices.length) {
                var cameraId = devices[0].id;
                var camera_options = document.getElementById("camera_options");

                for (i = 0; i < devices.length; i++) {
                    var camera = new Option(devices[i].label, i);
                    camera_options.options.add(camera);
                }

                const html5QrCode = new Html5Qrcode("reader");
                html5QrCode.start(cameraId, {
                    fps: 10, qrbox: { width: 300, height: 300 }
                },  (decodedText, decodedResult) => {
                    if (lastRecord != decodedText) {
                       lastRecord = decodedText;
                       recordData(decodedText);
                    }
                }, (errorMessage) => {
                    // parse error, ignore it.
                })
                .catch((err) => {
                  // Start failed, handle it.
                });
          }
        }).catch(err => {
          // handle err
        });

        function changeCamera() {
            Html5Qrcode.getCameras().then(devices => {
                if (devices && devices.length) {
                    var cameraId = devices[document.getElementById("camera_options").selectedIndex].id;
                    const html5QrCode = new Html5Qrcode(/* element id */ "reader");
                    html5QrCode.start(cameraId, {
                        fps: 10,    // Optional, frame per seconds for qr code scanning
                        qrbox: { width: 300, height: 300 }  // Optional, if you want bounded box UI
                    }, (decodedText, decodedResult) => {
                        if (lastRecord != decodedText) {
                            lastRecord = decodedText;
                            recordData(decodedText);
                        }
                    },(errorMessage) => {
                        // parse error, ignore it.
                    }).catch((err) => {
                        // Start failed, handle it.
                    });
                }
            }).catch(err => {
              // handle err
            });
        }

        function recordData(data){
            $('#recording_modal').modal('show')

            $.ajax({
                type:"POST",
                url: "/scanner/add",
                data:{
                    data: data,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data)
                {
                    $('#recording_modal').modal('hide')
                    $('#success_modal').modal('show')

                    setTimeout("$('#success_modal').modal('hide');",1500);

                    if (data['error_message']) {
                        document.getElementById("result_modal_title").textContent = data['error_message'];
                        lastRecord = undefined;
                    } else {
                        document.getElementById("result_modal_title").textContent = "Attendance recorded for " + data['student_name'];
                    }
                },
                error: function (data) {
                    $('#recording_modal').modal('hide')
                    $('#failed_modal').modal('show')
                    lastRecord = undefined;
                }
            })
        }
    </script>
{% endblock %}

