{% extends 'scanner/base.html' %}

{% block title %}
    QR Scanner
{% endblock %}

{% block content %}

    <p class="time-stamp" id="time">12:00:00 AM</p>
    <p class="date-stamp" id="date">January 1, 1990</p>

    <select class="form-select form-select-sm camera_options mx-auto mb-3 mt-4" aria-label=".form-select-sm example" id="camera_options" onchange="changeCamera()">
    </select>

    <video class="qr-scanner" id="preview"></video>

    <p>Please align your code inside the box to scan.</p>

    <div class="modal" id="recording_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recording_modal_title">Recording Attendance...</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="failed_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="failed_modal_title">Recording Attendance Failed</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="result_modal_title">Attendance recorded for </h5>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var myRedirect = function(redirectUrl, arg, value) {
            $('#recording_modal').modal('show')

            $.ajax({
                type:"POST",
                url: "/scanner/add",
                data:{
                    data: value,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data)
                {
                    $('#recording_modal').modal('hide')
                    $('#success_modal').modal('show')

                    if (data['error_message']) {
                        document.getElementById("result_modal_title").textContent = data['error_message'];
                    } else {
                        document.getElementById("result_modal_title").textContent = "Attendance recorded for " + data['student_name'];
                    }
                },
                error: function (data) {
                    $('#recording_modal').modal('hide')
                    $('#failed_modal').modal('show')
                }
            })
        };

        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
            var redirect = '';
            myRedirect(redirect, "message", content);
        });

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                var camera_options = document.getElementById("camera_options");
                for (i = 0; i < cameras.length; i++) {
                    var camera = new Option(cameras[i].name, i);
                    camera_options.options.add(camera);
                }
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });

        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        function refreshTime() {
            const timeString = new Date().toLocaleTimeString();
            const dateString = new Date().toLocaleDateString(undefined, options);
            document.getElementById("time").textContent = timeString;
            document.getElementById("date").textContent = dateString;
        }
        setInterval(refreshTime, 1000);

        function changeCamera() {
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    var camera = document.getElementById("camera_options").selectedIndex;
                    scanner.start(cameras[camera]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        }
    </script>
{% endblock %}

